

<br><br><div class="container">
  <div class='row'>
    <div id='amhadshowimg'class="col-lg-8"></div>
      <div id='amhadpagetext'class="col-lg-4">
        <h3>RODTHEPRODUCER</h3>
        <p>

<p>Super-producer and musician extraordinaire “Rodtheproducer” is quickly making his mark on the music industry.
His multicultural style of hip hop infused with R&B, jazz, Gospel and pop music has helped create hits for artists such as Fetty Wap,
Uncle Murda, Case, Pete Rock, Loaded lux and more.</p>

<p>Born in August 1991 in Mount Vernon N.Y., Rodtheproducer got his first taste of music from the church. At the age of 2, he was able to mimic the beats of the drum and mastered his first drum set by 3 years old. During his school years, Rod picked up many instruments including the Trombone, Trumpet, and Piano. He began producing songs, mix tapes, writing lyrics and participating in talent shows by his 14th birthday.
 At the age of 15 (2006) he was playing the drums for Bobby Valentino exposing him to the music scene further more.
 Since an early age Rod has had an exceptional ear for music and quickly fell in love with the music industry.</p>

<p>In 2012, Rod decided to take his music business to the next level and create what is known as “Undeniable Musik” (UDM). “Undeniable Musik” first started as a production company with up and coming producers Iggy Beatz and AliTheGreatest. After years of sound building it has expanded and became the home for “Panda6thboro” which is a team of artists/writers/producers that exclusively makes music that feels undeniable.

Rodtheproducer and the UDM production team take pride in producing high quality hits across multiple genres clearly making this team the new face of urban music.
</p>
    </div>
<div id='amhadimage2' class="col-lg-8"></div>

</div>
</div>
