


<br>
<br>
<br>
<br>
<img src='https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/003/large/IMG_6184.jpg' style="max-height:480px; max-width:480px;"><br>
<img src='https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/010/large/IMG_6252.jpg' style="max-height:480px; max-width:480px;"><br>

<div class="container">

    <div id='younshowimg'></div>
      <div id='younpagetext'>
        <h3>RODTHEPRODUCER</h3><hr id='showhr'>


<p>Super-producer and musician extraordinaire “Rodtheproducer” is quickly making his mark on the music industry.
His multicultural style of hip hop infused with R&B, jazz, Gospel and pop music has helped create hits for artists such as Fetty Wap,
Uncle Murda, Case, Pete Rock, Loaded lux and more.</p>

<p>Born in August 1991 in Mount Vernon N.Y., Rodtheproducer got his first taste of music from the church. At the age of 2, he was able to mimic the beats of the drum and mastered his first drum set by 3 years old. During his school years, Rod picked up many instruments including the Trombone, Trumpet, and Piano. He began producing songs, mix tapes, writing lyrics and participating in talent shows by his 14th birthday.
 At the age of 15 (2006) he was playing the drums for Bobby Valentino exposing him to the music scene further more.
 Since an early age Rod has had an exceptional ear for music and quickly fell in love with the music industry.</p>


    </div>


</div>
