<style>
#backgroundimage{
  background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/007/large/IMG_4358.jpg');
  height:500px;
  border: 2px solid red;
  background-repeat: no-repeat;

}
</style>


<h1>Music</h1>

<div id='backgroundimage' class='container'>

<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Songs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @song.each do |f| %>
      <tr>
        <td><%= f.caption %></td>
        <td><%=audio_tag(f.audio.url, autoplay: false, controls: true)  %> <br></td>

    <% end %>
  </tbody>
</table>

<br>


</div>
