/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
 #younshowimg{
   background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/003/large/IMG_6184.jpg');
   height: 600px;
   background-repeat: no-repeat;
 }




 #younimage2{
   position: absolute;
   top:567px;
   background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/010/large/IMG_6252.jpg') ;
   height: 600px;
   background-repeat: no-repeat;
 }

*/



/*

#amhadshowimg{
  background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/001/large/IMG_6204.jpg');
  height: 600px;
  background-repeat: no-repeat;
}


#amhadpagetext{
  text-align: center;

}

#amhadimage2{
  position: absolute;
  top:567px;
  background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/009/large/IMG_6256.jpg') ;
  height: 600px;
  background-repeat: no-repeat;

}
*/
a{
  text-decoration: none !important;
}

ul#menu li {
    display:inline;
    padding-right: 20px;
}

#navhr{
  width: 50%;
  position: relative;
  right: 1px;
}

#showhr{
  width: 80%;
  position: relative;
  right: 1px;
}


h3{
  font-family: 'Ubuntu', sans-serif;
  color:black;
}

 #rob{
   background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/001/large/IMG_6278.jpg') ;
   height: 439px;
   bottom: 3px;
   background-position: center  ;
   background-repeat: no-repeat;
 }


#youn{
background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/003/large/IMG_6382.jpg');
height: 427px;
top:3px;
background-position: center ;
background-repeat: no-repeat;
}

#amhad{
top:1px;
margin: 2px;
 background-image: url('https://s3.amazonaws.com/undeniablemusik/owners/images/000/000/004/large/IMG_6214.jpg');
height: 435px;

 background-position: right -60px top ;
 background-repeat: no-repeat;
}

#ownerscontainerindex{
  padding-left: 70px;
}


ul{
  text-align: center;
  list-style-type: none;
}
 .white {
    color: white;
}

.container{
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#background{
  background: #e5eaee;

}


#indexcontainer{
  background-image: url('http://s3.amazonaws.com/fition/photos/userimages/000/000/003/original/IMG_0011.JPG');
  height: 600px;
  background-size: cover;

  background-repeat: no-repeat;
}
#title{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 51px;
  color:black;
}

#titlecontainer{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 51px;
  color:black;
  top: 50px;
}
